.dl-wrapper
	padding: 2em
	background: lb-off-white-dkr
	border: 1px solid lb-light-grey
	width: auto
	display: inline-block
	.dl
		margin-bottom: 0.5em
	.meta
		font-size: 0.85em
		margin-bottom: 1em

.lagom-logo-button
	font-size 1.1em
	display inline-block
	padding 18px 18px 18px 90px
	margin 30px 30px
	background lb-light-grey-ltr url(images/logos/lagom-icon-full-color.svg) no-repeat
	background-size 60px 60px
	background-position left 10px top 0
	border 1px solid lb-light-grey
	font-weight: 400
	transition background-color 300ms ease-in-out
	border-radius br
	strong
		color lgm-purple-dkr
	&:hover
		border 1px solid lgm-purple
		background lgm-purple url(images/logos/lagom-icon-reverse.svg) no-repeat
		background-size 60px 60px
		background-position left 10px top 0
		color white
		transition background-color 300ms ease-in-out
		strong
			color white

.get-started-buttons
	text-align: center